body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #04504817;
}

.accordion-item {
  margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-left: 280%;
    width: 12rem;
}
.accordion-body {
  width: 70rem;
  margin-left: -472%;
}

#comments {
  color:#045049;
  border: 2.75px solid #679491; 
  border-radius: 15px;
  padding: 10px;
  /* margin-left: 50px;
  margin-right: 70px; */
  margin: 0 auto;
  margin-bottom: 5px;
  width: 63rem;
}
#createdAt {
  color:green
}

#numberOfLikes {
  display: inline-block;
}

#navbar-title {
  color: azure;
}

#navbar-title:hover {
  color: #aef0de;
}

#search-button {
  background-color: #78a5a1;
  color: #045049;
}
#search-button:hover {
  color: #ffffff;
}

#title {
  color:#045049;
  font-size: 100px;
  font-family: 'monospace', 'monaco';
  margin-top: 4%;
  text-align: center;
}

#welcome-message {
  text-align: center;
  font-size: medium;
}

#modalSignin {
  margin-top: -3%;
}

#submit {
  background-color: #045049;
  color: azure;
}

#signup-button:hover {
  background-color: #045049;
  color: azure;
}

#navBar {
  background-color: #045049;
}

#home {
  color: azure;
}
#home:hover {
  color: #aef0de;
}
#signup {
  color:azure;
}
#signup:hover {
  color: #aef0de;
}
#login {
  color: azure;
}
#login:hover {
  color: #aef0de;
}
#logout {
  color: azure;
}
#logout:hover {
  color: #aef0de;
}
#view-profile {
  color: azure;
}
#view-profile:hover {
  color: #aef0de;
}

#posted-by-link {
  font-size: x-large;
  color: #045049;
  text-decoration: none;
}
#posted-by-link:hover {
  color: #679491
}

#commented-by-link {
  font-size: large;
  color: #045049;
  text-decoration: none;
  font-weight: bold;
}
#commented-by-link:hover {
  color: #679491;  
}

#comment-message {
  font-size: medium;
  margin-left: 0.5%;
}

#timeline {
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

ul {
  list-style-type: none;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 70rem;
}