<h1 id="profile" class="profile">Profile of {{user.name}}</h1>

<table>
  <tr>
    <td>
    <div>
      
      <img id="profile-pic" src="{{user.profilePicLocation}}" class="shrinkToFit" width="360" height="360">
      <h6>Upload Image</h6>
      <form class="form-group" action="/users/upload/" method="POST">
          <input type="hidden" name="profile_pic" id="profile_pic_uploader" class="simple-file-upload" data-width="50" data-height="50" data-accepted="image/jpeg" resize-method="crop"  data-resize-width="360" data-resize-height="360" >
          <input type="submit" id="profile_pic_submit" class="btn btn-primary" value="Upload Photo" style="visibility: hidden;">
      </form>
    </div>
    </td>
    <td valign="top">
      <h4>Friends</h4>
      {{> userList }}
    </td>
  </tr>
</table>
{{#if showAddFriend}}
  <form id="add-friend-form" class="form-group" action="/users/{{user.id}}" method="POST">
      <input id="add-friend" type="submit" class="btn btn-primary" value="Add Friend">
  </form>
{{/if}}
<h1>Timeline</h1>
{{> postList }}

<script>
document.getElementById("profile_pic_uploader").addEventListener("fileUploadSuccess", function (e) {
    console.log("File Uploaded")
    document.getElementById("profile_pic_submit").click();
});
</script>