    <div class="center">
      <img id="profile-pic" src="data:image/{{user.profilePic.contentType}};base64,{{base64 user.profilePic.data}}" class="shrinkToFit" width="360" height="360">
    </div>
<h1 id="profile" class="profile">{{user.name}}</h1>
      <form class="form-group" action="/users/upload/" enctype="multipart/form-data" method="POST">
          <input id="formFile" type="file" class="form-control-file" name="image" accept="image/*">
          <input id="update-profile-pic" type="submit" class="btn btn-primary" value="Update profile picture">
      </form>

<table>
  <tr>
    <td>
    </td>
    <td valign="top">
      <h4>Friends</h4>
      {{> userList }}
    </td>
  </tr>
</table>
{{#if showAddFriend}}
  <form id="add-friend-form" class="form-group" action="/users/{{user.id}}" method="POST">
      <input id="add-friend" type="submit" class="btn btn-primary" value="Add Friend">
  </form>
{{/if}}
{{> postList }}

